[Unit]
Description=PiKVM Home Assistant sensor integration
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/kvmd/pst/data/pikvm-ha-sensors
ExecStart=/usr/bin/uv run pikvm-ha-sensors.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
