RPi.GPIO
paho-mqtt
pyyaml
retrying
w1thermsensor>=2.0
adafruit-circuitpython-htu21d
netifaces
psutil
python-pacman
# kvmd - this is provided via the PiKVM OS-installed
# packages; the version in PyPI is out of date.
